absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==0.4.3
altair==4.2.2
antlr4-python3-runtime==4.8
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrs==23.1.0
autocuda==0.16
Babel==2.12.1
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
blis==0.7.10
boostaug==2.3.5
cachetools==5.3.0
catalogue==2.0.9
certifi @ file:///C:/b/abs_36eb5mzhph/croot/certifi_1690232276943/work/certifi
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
-e git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16#egg=clip
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
confection==0.1.0
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
datasets==2.14.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
diffusers==0.16.1
dill==0.3.7
ediblepickle==1.1.3
einops==0.3.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.6.0/en_core_web_md-3.6.0-py3-none-any.whl#sha256=1618fc62e7aedc2b778caa3ea6e9c8280beac3b83fe7b93316cbb9e8f3abe7c5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.18.0
filelock==3.12.0
findfile==2.0.0
flatbuffers==23.5.9
fonttools==4.41.1
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.3
fuzzywuzzy==0.18.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.18.1
google-auth-oauthlib==1.0.0
grpcio==1.54.2
huggingface-hub==0.14.1
humanfriendly==10.0
idna==3.4
imageio==2.9.0
imageio-ffmpeg==0.4.2
imgaug==0.2.6
importlib-metadata==6.6.0
importlib-resources==5.12.0
install==1.3.5
invisible-watermark==0.1.5
ipykernel==6.25.0
ipython==8.12.2
isoduration==20.11.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.1
json5==0.9.14
jsonpointer==2.4
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab_server==2.24.0
kiwisolver==1.4.4
kornia==0.6.0
langcodes==3.3.0
lazy_loader==0.2
Levenshtein==0.21.1
lxml==4.9.3
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
metric-visualizer==0.9.9
mistune==3.0.1
mkl-fft==1.3.6
mkl-random @ file:///C:/Users/dev-admin/mkl/mkl_random_1682977971003/work
mkl-service==2.4.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.9
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nest-asyncio==1.5.7
networkx==3.1
notebook_shim==0.2.3
numpy @ file:///C:/Users/dev-admin/mkl/numpy_and_numpy_base_1682979453606/work
oauthlib==3.2.2
omegaconf==2.1.1
onnx==1.14.0
onnxruntime==1.14.1
opencv-python==4.1.2.30
openpyxl==3.1.2
overrides==7.3.1
packaging==23.1
pandas==2.0.1
pandocfilters==1.5.0
parso==0.8.3
pathy==0.10.2
pickleshare==0.7.5
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
platformdirs==3.9.1
preshed==3.0.8
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==3.20.3
psutil==5.9.5
pudb==2019.2
pure-eval==0.2.2
pyabsa==2.3.1
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.12
pydeck==0.8.1b0
pyDeprecate==0.3.1
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
pyreadline3==3.4.1
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-lightning==1.4.2
pytorch-warmup==0.1.1
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pywinpty==2.0.11
PyYAML==6.0.1
pyzmq==25.1.0
rapidfuzz==3.1.2
regex==2023.5.5
requests==2.31.0
requests-futures==1.0.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.10.1
Send2Trash==1.8.2
sentencepiece==0.1.99
seqeval==1.2.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.6.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
stack-data==0.6.2
streamlit==1.22.0
tabulate==0.9.0
-e git+https://github.com/CompVis/taming-transformers.git@3ba01b241669f5ade541ce990f7650a3b8f65318#egg=taming_transformers
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.0
termcolor==2.3.0
terminado==0.17.1
test-tube==0.7.5
thinc==8.1.10
threadpoolctl==3.2.0
tifffile==2023.4.12
tikzplotlib==0.10.1
tinycss2==1.2.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==1.11.0
torch-fidelity==0.3.0
torchmetrics==0.6.0
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.19.2
typer==0.9.0
typing_extensions @ file:///C:/b/abs_213vg2cd1l/croot/typing_extensions_1690297804941/work
tzdata==2023.3
tzlocal==5.0.1
update-checker==0.18.0
uri-template==1.3.0
urllib3==2.0.4
urwid==2.1.2
validators==0.20.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.3.4
wordcloud==1.9.2
XlsxWriter==3.1.2
xxhash==3.3.0
yarl==1.9.2
zipp==3.15.0
